<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Elijah Mwangi</h3>
      </div>

      <div class="text-center">@ElijahMwangi</div>
      <div class="text-center">
        <a href="https://blooming-beyond-93684.herokuapp.com/">My Website. say hi!</a>
      </div>
    </div>
  </div>
</div>